<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

      <div class = "navbar">
        <ul>
          <li><%= link_to "Home", "#" %></li>
          <li><%= link_to "About Me","#" %></li>
          <li><%= link_to "Blogs", "#" %></li>
          <li><%= link_to "Contact", "#" %></li>
          <ul class = "nav-right">
            <li><a href="#login">Login</a></li>
          </ul>
        </ul>
    </div>
    <div id = "main-container">
      <%= yield %>
    </div>

  </body>
</html>
