<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="assets/restive.min.js"></script>
  </head>
  <body>
    <script>
      $(document).ready(function(){
        $('body').restive({
            breakpoints: [ '1183'],
            classes: ['css-1183']
        })
      })
    </script>
    <div class = "nav-bar">
      <ul>
        <li><%= link_to "Home", "#" %></li>
        <li><%= link_to "About Me","#" %></li>
        <li><%= link_to "Blogs", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
        <ul class = "nav-right">
          <li><a href="#login">Login</a></li>
        </ul>
      </ul>
    </div>
    <div id = "main-container">
      <%= yield %>
    </div>

  </body>
</html>
